{
	"name": "template",
	"version": "0.1.0",
	"ebpf_object_size": 30352,
	"ebpf_object_data": "xxxxxxxxxxxxxxxxxxxxxxxx",
	"maps": [
		{
			"name": "rb",
			"type": "BPF_MAP_TYPE_RINGBUF"
		},
		{
			"name": "exec_start",
			"type": "BPF_MAP_TYPE_HASH"
		},
		{
			"name": "client_b.rodata",
			"type": "RODATA"
		}
	],
	"progs": [
		{
			"name": "handle_exec",
			"type": "BPF_PROG_TYPE_TRACEPOINT"
		},
		{
			"name": "handle_exit",
			"type": "BPF_PROG_TYPE_TRACEPOINT"
		}
	],
	"export_events": [
		{
			"export_type": "RINGBUF_TO_STRUCT",
			"map_id": "rb",
			"struct": [
				{
					"name": "pid",
					"type": "i32",
					"array": false
				},
				{
					"name": "ppid",
					"type": "i32",
					"array": false
				},
				{
					"name": "filename",
					"type": "char",
					"array": true,
					"length": 128
				}
			],
			"process_events":[
				{
					"type":"SCRIPT",
					"data":""
				},
				{
					"type":"STDOUT"
				}
			]
		}
	],
	"envs":[{"name":"PID","value":"0"}],
	"load_ebpf_script": "",
	"license": "GPL",
	"author": "John Doe",
	"url": "http://example.com/package.json",
	"description": "This is a template for a ebpm BPF program."
}