name: Build and test compiler on Ubuntu, and release binary

on:
  push:
    branches: ["*"]
    paths:
      - "ecli/**"
      - "compiler/**"  # Ensure ecc and ecli releasing at same time
      - "wasm-rumtime/**"  # Release when dependencies updated
      - "third_party/**"
      - "bpf-loader-rs/**"
      - "eunomia-sdk/**"
      - ".github/**"

  pull_request:
    branches: ["*"]
    paths:
      - "ecli/**"
      - "compiler/**"
      - "wasm-rumtime/**"
      - "third_party/**"
      - "bpf-loader-rs/**"
      - "eunomia-sdk/**"
      - ".github/**"

env:
  BUILD_TYPE: Release
  INSTALL_LOCATION: .local

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        target: [ x86_64-unknown-linux-gnu ]


    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Set latest release version
      # if:   github.event_name == 'push' && github.ref == 'refs/heads/master'
      id: set_version
      uses: actions/github-script@v6
      with:
        result-encoding: string
        script: |
          const { data: releases } = await github.rest.repos.listReleases({
            owner: context.repo.owner,
            repo: context.repo.repo,
          });
          
          const { data: tags } = await github.rest.repos.listTags({
            owner: context.repo.owner,
            repo: context.repo.repo
          });
          
          if (releases.length === 0) { return "v0.0.1"; }
         
          function increase_v(version) {
            const parts = version.split(".");
            const last = parseInt(parts[2]) + 1;
            const next_version = `${parts[0]}.${parts[1]}.${last.toString()}`;
            return next_version;
          }
          
          const latest_release_tag = releases[0].tag_name;
          
          const tag = tags.find(tag => tag.commit.sha === context.sha);
          
          return tag ? tag.name : increase_v(latest_release_tag)

    - name: install deps
      run: |
          sudo make -C compiler install-deps
          cargo install clippy-sarif sarif-fmt grcov
          rustup component add llvm-tools-preview

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af #@v1
      with:
        profile: minimal
        toolchain: stable
        components: clippy
        override: true

    - name: cache dependencies
      uses: actions/cache@v3
      id: cache
      with:
        path: ${{ github.workspace }}/${{ env.INSTALL_LOCATION }}
        key: ${{ runner.os }}-dependencies

    - name: Cache rust
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: |
          compiler/cmd
          ecli
          eunomia-sdks/eunomia-rs

    - name: build ecc
      run:  cd compiler && make && make install
    - name: Prepare cargo-appimage
      uses: eunomia-bpf/prepare-cargo-appimage@v4
    - name: Install libfuse
      run: |
        sudo apt-get install -y libfuse2
    - name: Build AppImage
      run: |
          cd compiler/cmd
          CARGO_APPIMAGE_TOOL_BIN=../../appimagetool CARGO_APPIMAGE_RUNTIME_FILE=../../runtime CARGO_APPIMAGE_OUT_FILE=ecc cargo appimage 
    - name: test ecc
      run:  cd compiler && make test
    - name: Upload analysis results to GitHub
      if: github.repository_owner == 'eunomia-bpf'
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: compiler/cmd/rust-clippy-results.sarif
        wait-for-processing: true

    - name: Code coverage using Codecov
      if: github.repository_owner == 'eunomia-bpf'
      run: bash <(curl -s https://codecov.io/bash)

    - name: Package
      shell: bash
      run: |
        mkdir release
        cp compiler/cmd/ecc ./release/ecc
        cd release
        tar czvf ./ecc-${{ matrix.target }}-${{ steps.set_version.outputs.result }}.tar.gz ecc

    - name: Publish
      if:   github.event_name == 'push' && (github.ref == 'refs/heads/master' || startsWith(github.ref,'refs/heads/fix')) 
      #&& github.repository_owner == 'eunomia-bpf'
      uses: softprops/action-gh-release@v1
      with:
          files: |
            release/ecc-${{ matrix.target }}-${{ steps.set_version.outputs.result }}.tar.gz
            release/ecc
          prerelease: false
          tag_name: ${{ steps.set_version.outputs.result }}
          generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 
