name: Build and test ecli on Ubuntu

on:
  push:
    branches: "*"
    paths:
      - "ecli/**"
      - ".github/**"
  pull_request:
    branches: "*"
    paths:
      - "ecli/**"
      - ".github/**"

env:
  BUILD_TYPE: Release
  INSTALL_LOCATION: .local

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]')"

    steps:
    - uses: actions/checkout@v2

    - name: get submodule
      run:  git submodule update --init --recursive

    - name: install deps
      run: |
          sudo make -C ecli/minimal install-deps

    - name: cache dependencies
      uses: actions/cache@v2
      id: cache
      with:
        path: ${{ github.workspace }}/${{ env.INSTALL_LOCATION }}
        key: ${{ runner.os }}-dependencies

    - name: make ecli
      run:  make ecli

    - name: run unit tests
      run: |
        cd ecli/minimal
        make test
