name: Build and test bpf-loader on Ubuntu

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"
env:
  BUILD_TYPE: Release
  INSTALL_LOCATION: .local

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]')"

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: install deps
      run: |
          sudo make -C bpf-loader install-deps

    - name: cache dependencies
      uses: actions/cache@v3
      id: cache
      with:
        path: ${{ github.workspace }}/${{ env.INSTALL_LOCATION }}
        key: ${{ runner.os }}-dependencies

    - name: make bpf-loader
      run:  make bpf-loader

    - name: run unit tests
      run: |
        cd bpf-loader/
        sudo make test

    - uses: uraimo/run-on-arch-action@v2
      name: run unit tests on aarch64
      id: runcmd
      with:
        arch: aarch64
        distro: ubuntu_latest
        dockerRunArgs: |
          -v `pwd`/:/usr/eunomia-bpf/
        githubToken: ${{ github.token }}
        run: |
          apt-get update
          apt-get install make cmake
          cd /usr/eunomia-bpf/
          make bpf-loader
          make -C bpf-loader install-deps
          make -C bpf-loader test

    - name: Code coverage using Codecov
      run: bash <(curl -s https://codecov.io/bash)

