# Simple workflow for deploying static content to GitHub Pages
name: Test bpftools examples

on:
  pull_request:
    branches: "*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  examples:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: install deps
        run: |
             sudo make -C bpf-loader-rs install-deps

      - name: install test deps
        run:  |
              make -C examples/tests install-deps
              make -C examples/tests install-wasm-clang

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: test build runners
        run:  |
              make -C examples

      - name: test examples
        run:  |
              make -C examples/tests test

      - name: test ecli server api
        run:  |
              python ecli/tests/api-test.py
