# Simple workflow for deploying static content to GitHub Pages
name: Deploy eBPF data

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master", "main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# In that case do the job 'make_and_deploy_doxygen'
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: get submodule
        run:  git submodule update --init --recursive

      - name: install deps
        run: |
             sudo make -C ecli install-deps

      - name: install test deps
        run:  |
              make -C examples/tests install-deps
              make -C examples/tests install-wasm-clang

      - name: test build runners
        run:  |
              make -C examples

      - name: test examples
        run:  |
              make -C examples/tests test

      - name: Setup Pages
        uses: actions/configure-pages@v1
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: './examples/bpftools'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
