name: Build and test wasm-runtime on Ubuntu

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"
env:
  BUILD_TYPE: Release
  INSTALL_LOCATION: .local

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]')"

    steps:
    - uses: actions/checkout@v3

    - name: get submodule
      run:  git submodule update --init --recursive --remote

    - name: install deps
      run: |
          sudo make -C bpf-loader install-deps

    - name: cache dependencies
      uses: actions/cache@v3
      id: cache
      with:
        path: ${{ github.workspace }}/${{ env.INSTALL_LOCATION }}
        key: ${{ runner.os }}-dependencies

    - name: make ewasm
      run:  make ewasm

    - name: run unit tests
      run: |
        cd wasm-runtime/
        sudo make test

    # Wait https://github.com/eunomia-bpf/wasm-bpf/pull/5 
    # - name: run wasm generate tests
    #   run: |
    #     cd wasm-runtime/
    #     sudo make test-wasm
